* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  ms-text-size-adjust: 100%;
  moz-text-size-adjust: 100%;
  webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------*/
body {
  width: 1920px;
}

.slider {
  height: 1080px;
  border: dashed red;
}
.slider .slider__background {
  position: relative;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
}
.slider .slider__logo {
  position: relative;
  z-index: 2;
  right: 1500px;
}
.slider .slider_button {
  border: 1px solid white;
}
.about {
  height: 733px;
  border: dashed green;
}

.portfolio {
  border: dashed blue;
  height: 1671px;
}

.partners {
  border: dashed red;
  height: 391px;
}

.contact {
  border: dashed green;
  height: 1097px;
  background-color: blue;
}

.footer {
  border: dashed blue;
  height: 277px;
  background-color: #3c3c3c;
}